{% extends 'hostel_base.html' %}
{% load static %}
{% block title %}
<title>Hostel Locator | Login</title>
{% endblock title %}
{% block nav %}
<li><a href="{% url 'index' %}">Home</a></li>

<li>
    {% if user.is_authenticated %}
    <a href="{{user.userprofile.get_absolute_url}}">{{user}} <img src="{{user.userprofile.profile_pic.url}}"
            alt="Profile Picture" style="width:30px;height:30px;"></a>
    {% else %}
    <a href="{% url 'signin' %}" class="active">Sign In</a>
    {% endif %}

</li>
{% endblock nav %}