{% extends 'hostel_base.html' %}
{% load static %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'hostel-list' %}">Hostels</a>
        </li>

        {% if user.is_authenticated %}


        {% if user.userprofile.role == 'host' %}
        <li class="nav-item nav-link">
            <a class="nav-link active" href="{% url 'dashboard' %}">Host Dashboard</a>
        </li>


        {% endif %}
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}

        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'login' role='host' %}">Host Login</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'login' role='guest' %}">Guest login</a>
        </li>
        {% endif %}

        <li class="nav-item"></li>
    </ul>
</div>
{% endblock navbar %}
{% block main %}
<div class="row d-xl-flex justify-content-xl-center align-items-xl-center"
    style="height: 70vh;width: 100%;padding: 200px 0px;">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card border rounded shadow border-start-primary py-2">
            <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                style="font-size: 12px;color: var(--bs-primary);">Hostels</span></div>
                        <div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px;"><span
                                style="font-size: 14px;"><i class="fas fa-caret-up"
                                    style="margin-right: 6px;color: var(--bs-success);font-size: 16px;"></i>
                                    <p>Number of hostels: {{ num_hostels }}</p>
                              <span  style="font-size: 10px;margin-left: 12px;color: var(--bs-gray-600);">Hostels</span>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-home fa-2x" data-bs-toggle="tooltip" data-bss-tooltip=""
                            style="color: var(--bs-indigo);font-size: 28px;margin-top: 4px;"
                            title="Votre position dans le classement général est définie en fonction de vos statistiques de pronostiqueur"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card border rounded shadow border-start-primary py-2">
            <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                style="font-size: 12px;color: var(--bs-primary);">Guests</span></div>
                        <div class="text-dark fw-bold h5 mb-0" style="margin-top: -6px;"><span
                                style="font-size: 14px;"><i class="fas fa-caret-up"
                                    style="margin-right: 6px;color: var(--bs-success);font-size: 16px;"></i></span>
                                    <p>Number of guests: {{ num_guests }}</p>
                                    <span
                                style="font-size: 10px;margin-left: 12px;color: var(--bs-gray-600);">guests</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-user-plus fa-2x" data-bs-toggle="tooltip" data-bss-tooltip=""
                            style="color: var(--bs-info);font-size: 28px;margin-top: 4px;"
                            title="Votre position dans le classement général est définie en fonction de vos statistiques de pronostiqueur"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card border rounded shadow border-start-primary py-2">
            <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                <div class="row align-items-center no-gutters">
                    <div class="col d-flex justify-content-center me-2"><a
                            class="btn btn-success border rounded-pill" type="button" href="{% url 'add-hostel' %}" style="padding: 8px 16px;"
                            >add hostel</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-white bg-dark border rounded border-0 p-4 p-md-5">
            <h2 class="fw-bold text-white mb-3">Manage Guests</h2>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Occupation</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Added</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Category</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="pl-4">1</td>
                                <td>
                                    <h5 class="font-medium mb-0">Daniel Kristeen</h5>
                                    <span class="text-muted">Texas, Unitedd states</span>
                                </td>
                                <td>
                                    <span class="text-muted">Visual Designer</span><br>
                                    <span class="text-muted">Past : teacher</span>
                                </td>
                                <td>
                                    <span class="text-muted">daniel@website.com</span><br>
                                    <span class="text-muted">999 - 444 - 555</span>
                                </td>
                                <td>
                                    <span class="text-muted">15 Mar 1988</span><br>
                                    <span class="text-muted">10: 55 AM</span>
                                </td>
                                <td>
                                    <select class="form-control category-select" id="exampleFormControlSelect1">
                                        <option>Modulator</option>
                                        <option>Admin</option>
                                        <option>User</option>
                                        <option>Subscriber</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                            class="fa fa-key"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-trash"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-edit"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-upload"></i> </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-4">2</td>
                                <td>
                                    <h5 class="font-medium mb-0">Emma Smith</h5>
                                    <span class="text-muted">Texas, Unitedd states</span>
                                </td>
                                <td>
                                    <span class="text-muted">Visual Designer</span><br>
                                    <span class="text-muted">Past : teacher</span>
                                </td>
                                <td>
                                    <span class="text-muted">daniel@website.com</span><br>
                                    <span class="text-muted">999 - 444 - 555</span>
                                </td>
                                <td>
                                    <span class="text-muted">15 Mar 1855</span><br>
                                    <span class="text-muted">10: 00 AM</span>
                                </td>
                                <td>
                                    <select class="form-control category-select" id="exampleFormControlSelect1">
                                        <option>Modulator</option>
                                        <option>Admin</option>
                                        <option>User</option>
                                        <option>Subscriber</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                            class="fa fa-key"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-trash"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-edit"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-upload"></i> </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-4">3</td>
                                <td>
                                    <h5 class="font-medium mb-0">Olivia Johnson</h5>
                                    <span class="text-muted">Texas, Unitedd states</span>
                                </td>
                                <td>
                                    <span class="text-muted">Visual Designer</span><br>
                                    <span class="text-muted">Past : teacher</span>
                                </td>
                                <td>
                                    <span class="text-muted">daniel@website.com</span><br>
                                    <span class="text-muted">999 - 444 - 555</span>
                                </td>
                                <td>
                                    <span class="text-muted">17 Aug 1988</span><br>
                                    <span class="text-muted">12: 55 AM</span>
                                </td>
                                <td>
                                    <select class="form-control category-select" id="exampleFormControlSelect1">
                                        <option>Modulator</option>
                                        <option>Admin</option>
                                        <option>User</option>
                                        <option>Subscriber</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                            class="fa fa-key"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-trash"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-edit"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-upload"></i> </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-4">4</td>
                                <td>
                                    <h5 class="font-medium mb-0">Isabella Williams</h5>
                                    <span class="text-muted">Texas, Unitedd states</span>
                                </td>
                                <td>
                                    <span class="text-muted">Visual Designer</span><br>
                                    <span class="text-muted">Past : teacher</span>
                                </td>
                                <td>
                                    <span class="text-muted">daniel@website.com</span><br>
                                    <span class="text-muted">999 - 444 - 555</span>
                                </td>
                                <td>
                                    <span class="text-muted">26 Mar 1999</span><br>
                                    <span class="text-muted">10: 55 AM</span>
                                </td>
                                <td>
                                    <select class="form-control category-select" id="exampleFormControlSelect1">
                                        <option>Modulator</option>
                                        <option>Admin</option>
                                        <option>User</option>
                                        <option>Subscriber</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                            class="fa fa-key"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-trash"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-edit"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-upload"></i> </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-4">5</td>
                                <td>
                                    <h5 class="font-medium mb-0">Sophia Jones</h5>
                                    <span class="text-muted">Texas, Unitedd states</span>
                                </td>
                                <td>
                                    <span class="text-muted">Visual Designer</span><br>
                                    <span class="text-muted">Past : teacher</span>
                                </td>
                                <td>
                                    <span class="text-muted">daniel@website.com</span><br>
                                    <span class="text-muted">999 - 444 - 555</span>
                                </td>
                                <td>
                                    <span class="text-muted">16 Aug 2001</span><br>
                                    <span class="text-muted">10: 55 AM</span>
                                </td>
                                <td>
                                    <select class="form-control category-select" id="exampleFormControlSelect1">
                                        <option>Modulator</option>
                                        <option>Admin</option>
                                        <option>User</option>
                                        <option>Subscriber</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                            class="fa fa-key"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-trash"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-edit"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-upload"></i> </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-4">6</td>
                                <td>
                                    <h5 class="font-medium mb-0">Charlotte Brown</h5>
                                    <span class="text-muted">Texas, Unitedd states</span>
                                </td>
                                <td>
                                    <span class="text-muted">Visual Designer</span><br>
                                    <span class="text-muted">Past : teacher</span>
                                </td>
                                <td>
                                    <span class="text-muted">daniel@website.com</span><br>
                                    <span class="text-muted">999 - 444 - 555</span>
                                </td>
                                <td>
                                    <span class="text-muted">15 Mar 1988</span><br>
                                    <span class="text-muted">10: 55 AM</span>
                                </td>
                                <td>
                                    <select class="form-control category-select" id="exampleFormControlSelect1">
                                        <option>Modulator</option>
                                        <option>Admin</option>
                                        <option>User</option>
                                        <option>Subscriber</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i
                                            class="fa fa-key"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-trash"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-edit"></i> </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-upload"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}