{% extends 'hostel_base.html' %} {% load static %} {% block main %}
<section class="text-center download-section content-section" id="hostels"
    style="background-image: url('{% static 'assets/img/downloads-bg.jpg' %}');padding: 0;height: 412px;">
    <div class="row align-items-end mb-5" style="height: 100%; width: 100%">
        <div class="col-md-8 col-xl-6 text-center d-flex flex-column-reverse align-items-center mx-auto"
            style="height: 50vh">
            <h2 style="padding: 30px 0">Find a hostel near you</h2>
            <p class="text-light" style="padding: 0">
                Explore our top-rated hostels, handpicked by fellow travelers.
                Find the perfect combination of location, value, and quality
                amenities. Book now for an unforgettable experience
            </p>
        </div>
    </div>
</section>
<div class="container" id="hosts" style="margin-top: 100px">
    <div class="row d-flex justify-content-around">
        <div class="col-md-6 col-lg-6 offset-lg-0">
           <form method="get">
            <div class="input-group border rounded">
                <span class="input-group-text"><i class="fa fa-search"></i></span><input class="form-control" name='query' placeholder="Search hostel name" value="{{query}}"  type="text" /><button
                    class="btn btn-primary" type="submit">
                    Search
                </button>
            </div>
           </form>
        </div>
    </div>
</div>
<section class="text-center content-section" id="contact" style="padding: 0">
    <div class="container py-4 py-xl-5" style="background: url('{% static 'assets/img/img12.png' %}')">
        <div class="row mb-5">
            {% if not page_obj %}
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>No Hostels found in the system</h2>
                <p>
                    Be the first to add one, simply {% if not user.is_authenticated %} login and {% endif %} naviagate to
                    the dashboard
                </p>
            </div>
            {% endif %}
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
            {% if page_obj%} 
            {% for hostel in page_obj %}
            <div class="col">
                <div class="card rounded h-100">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px"
                        src="{{hostel.cover.url}}" />
                    <div class="card-body text-dark p-4" style="border-style: none">
                        <h4 class="card-title">{{hostel.name}}</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa fa-home" style="font-size: 53px"></i>
                            <div>
                                <p class="fw-bold mb-0">{{hostel.location}}</p>
                                <p class="text-muted mb-0">
                                    {{hostel.address}}
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-warning" data-bss-hover-animate="pulse" id="btnHostel" type="button"
                            style="margin: 17px" href="{% url 'hostel-detail' pk=hostel.pk %}">View</a>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>

        {% if page_obj %}
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 20px 0">
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{query}}"
                            aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% endif %} {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="#?query={{query}}">{{ num }} <span class="sr-only">(current)</span></a>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
                        <a class="page-link" href="?page={{ num }}&query={{query}}">{{ num }}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{query}}" aria-label="Next"><span
                                    aria-hidden="true">&raquo;</span></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</section>
{% endblock main %}