{% extends 'hostel_base.html' %} {% load static %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item nav-link">
            <a class="nav-link active" href="{% url 'hostel-list' %}">Hostels</a>
        </li>

        {% if user.is_authenticated %}


        {% if user.userprofile.role == 'host' %}
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'dashboard' %}">Host Dashboard</a>
        </li>


        {% endif %}
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}

        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'login' role='host' %}">Host Login</a>
        </li>
        <li class="nav-item nav-link">
            <a class="nav-link" href="{% url 'login' role='guest' %}">Guest login</a>
        </li>
        {% endif %}

        <li class="nav-item"></li>
    </ul>
</div>
{% endblock navbar %}
{% block main %}
<section class="text-center download-section content-section" id="hostels" style="
		background-image: url('{% static 'assets/img/downloads-bg.jpg' %}');
		padding: 0;
		height: 412px;
	">
    <div class="row align-items-end mb-5" style="height: 100%; width: 100%">
        <div class="col-md-8 col-xl-6 text-center d-flex flex-column-reverse align-items-center mx-auto"
            style="height: 50vh">
            <h2 style="padding: 30px 0">Find a hostel near you</h2>
            <p class="text-light" style="padding: 0">
                Explore our top-rated hostels, handpicked .
                Book now to feelathome
            </p>
        </div>

    </div>
</section>

{% if show_near %}
<div class="p-5">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Hostels nearby</h1>
    </div>
</div>
<section data-aos="zoom-in-down" data-aos-duration="400" data-aos-once="true" class="min-vh-100"
    style="padding-top: 30px;padding-bottom: 30px;min-height: 50vh !important;">
    <div class="container" style="min-width: 90vw;padding: 0;width: 100%;">

        {% if nearby %}
        <div data-aos="fade-up" data-aos-duration="400" data-aos-delay="200" data-aos-once="true" class="owl-slider"
            style="width: 100%;">
            <div id="carousel" class="owl-carousel">
                {% for hostel in nearby %}
                <div class="item height-350" style="height: auto;padding: 10px;">
                    <div class="col-md-4" style="width: 100%;">
                        <div class="blog-card blog-card-blog">
                            <div class="blog-card-image"><a href="#"><img class="img-fluid img"
                                        src="{{hostel.cover.url}}"></a>
                                <div class="ripple-cont"></div>
                            </div>
                            <div class="blog-table">
                                <p class="blog-card-description" style="font-family: 'Playfair Display', serif;">
                                    {{hostel.name}}</p><a href="{{hostel.get_absolute_url}}"
                                    class="btn btn-primary btn-lg btn-default" type="button"><span
                                        class="network-name">&nbsp;Peek
                                        inside</span></a>
                                <hr>
                                <div class="d-flex justify-content-between ftr">
                                    <div class="author"><a href="https://github.com/DesignofCp" target="_blank"><i
                                                class="fas fa-location-arrow" style="font-size: 28px;"></i></a></div>
                                    <div class="stats"><span>{{hostel.location}}</span></div>
                                </div>
                                <div class="d-flex justify-content-between ftr">
                                    <div class="author"><a href="https://github.com/DesignofCp" target="_blank"><i
                                                class="fas fa-street-view" style="font-size: 28px;"></i></a></div>
                                    <div class="stats"><span>{{hostel.address}}</span></div>
                                </div>
                                <div class="d-flex justify-content-between ftr">
                                    <div class="author"><a href="https://github.com/DesignofCp" target="_blank"><i
                                                class="far fa-star" style="font-size: 28px;"></i></a></div>
                                    <div class="stats"><span>4.6</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="p-5 mb-4 ">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">No Hostels found near you</h1>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% else %}
<div class="text-center my-3">
    <button type="button" class="btn btn-primary" onclick="getLocation()">Show hostels near you</button>

</div>
{% endif %}

<div class="container" id="hosts" style="margin-top: 100px">
    <div class="row d-flex justify-content-around">
        <div class="col-md-6 col-lg-6 offset-lg-0">
            <form method="get" id="hostel-form">
                <div class="input-group border rounded">
                    <span class="input-group-text"><i class="fa fa-search"></i></span><input class="form-control"
                        name="query" placeholder="Search hostel name" value="{{query}}" type="text" /><button
                        class="btn btn-primary" type="submit">
                        Search
                    </button>
                </div>
                <div class="select mx-auto my-3" style="width:10rem;">
                    <select class="form-select" id="locationSelect" name="location" aria-label="Select Location"
                        defaultValue="0">

                        {% if locations %}
                        <option {% if not select_location %}selected{% endif %}>All</option>
                        {% for location in locations %}
                        {% if select_location and location.name == select_location %}
                        <option value="{{location}}" selected>{{location}}</option>
                        {% else %}
                        <option value="{{location}}">{{location}}
                        </option>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="text-center content-section" id="contact" style="padding: 0">
    <div class="container py-4 py-xl-5" style="background: url('{% static 'assets/img/img12.png' %}')">
        <div class="row mb-5">
            {% if not page_obj %}
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>No Hostels found in the system</h2>
                <p>
                    Be the first to add one, simply {% if not user.is_authenticated %} login and {% endif %} navigate to
                    the dashboard
                </p>
            </div>
            {% endif %}
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center" id="hostels">
            {% if page_obj%} {% for hostel in page_obj %}
            <div class="col">
                <div class="card rounded h-100">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px"
                        src="{{hostel.cover.url}}" />
                    <div class="card-body text-dark p-4" style="border-style: none">
                        <h4 class="card-title">{{hostel.name}}</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <i class="fa fa-home" style="font-size: 53px"></i>
                            <div>
                                <p class="fw-bold mb-0">{{hostel.location}}</p>
                                <p class="text-muted mb-0">
                                    {{hostel.address}}
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-warning" data-bss-hover-animate="pulse" id="btnHostel" type="button"
                            style="margin: 17px" href="{% url 'hostel-detail' pk=hostel.pk %}">View</a>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>

        {% if page_obj %}
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 20px 0">
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&query={{query}}"
                            aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% endif %} {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="#?query={{query}}">{{ num }} <span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
                        <a class="page-link" href="?page={{ num }}&query={{query}}">{{ num }}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}&query={{query}}"
                                aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</section>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        window.location.href = `/hostels/?nearby=true&lat=${latitude}&lng=${longitude}`;
    }

</script>

{% endblock main %}