{% extends 'hostel_base.html' %} 
{% load static %}
 {% block main %}
<section
	class="text-center content-section"
	id="about"
	style="padding: 200px 0 0"
>
	<h2>{{hostel}}</h2>
	<div class="container">
		<div
					class="d-flex justify-content-evenly"
					style="margin: 20px 0px"
				>
			<div class="col-lg-8 col-xl-8 mx-auto">
				<div
					class="carousel slide carousel-dark"
					data-bs-ride="carousel"
					data-bs-interval="3000"
					id="carousel-1"
					style="height: 600px"
				>
					<div class="carousel-inner h-100">
						<div class="carousel-item active h-100">
							<img
								class="w-100 d-block position-absolute h-100 fit-cover"
								src="{% static 'assets/img/index.jpeg' %}"
								alt="Slide Image"
								style="z-index: -1"
							/>
						</div>
						<div class="carousel-item h-100">
							<img
								class="w-100 d-block position-absolute h-100 fit-cover"
								src="{% static 'assets/img/2rooms.jpeg' %}"
								alt="Slide Image"
								style="z-index: -1"
							/>
						</div>
						<div class="carousel-item h-100">
							<img
								class="w-100 d-block position-absolute h-100 fit-cover"
								src="{% static 'assets/img/elites.jpeg' %}"
								alt="Slide Image"
								style="z-index: -1"
							/>
						</div>
					</div>
					<div>
						<a
							class="carousel-control-prev"
							href="#carousel-1"
							role="button"
							data-bs-slide="prev"
							><span class="carousel-control-prev-icon"></span
							><span class="visually-hidden">Previous</span></a
						><a
							class="carousel-control-next"
							href="#carousel-1"
							role="button"
							data-bs-slide="next"
							><span class="carousel-control-next-icon"></span
							><span class="visually-hidden">Next</span></a
						>
					</div>
					<ol class="carousel-indicators">
						<li
							data-bs-target="#carousel-1"
							data-bs-slide-to="0"
							class="active"
						></li>
						<li
							data-bs-target="#carousel-1"
							data-bs-slide-to="1"
						></li>
						<li
							data-bs-target="#carousel-1"
							data-bs-slide-to="2"
						></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section
	class="text-center download-section content-section"
	id="hostels"
	style="background-image: url('{% static 'assets/img/elite.JPG' %}'); padding: 0"
></section>
<div
	class="container d-xl-flex justify-content-xl-center align-items-xl-center"
	id="hosts"
	style="margin-top: 100px"
>

		<div
			
			<div class="col-lg-8 col-xl-3 mx-auto">
				
				<form>
					<div class="col-xl-12">
						<h5 class="text-primary">Address</h5>
						<div
							class="d-flex justify-content-evenly"
							style="margin: 20px 0px"
						>
							<i
								class="fa fa-location-arrow"
								style="font-size: 39px"
							></i
							><strong>{{hostel.location}}</strong>
						</div>
						<div
							class="d-flex justify-content-evenly"
							style="margin: 20px 0px"
						>
							<i
								class="fa fa-street-view"
								style="font-size: 39px"
							></i
							><b>{{hostel.address}}&nbsp;</b>
						</div>
				
					<div class="col-xl-12">
						<h5 class="text-primary">Features</h5>
						<div
							class="justify-content-between"
							style="margin: 20px 0px"
						>
						<i class="fa fa-key">room name</i>
						<div class="col-xl-12">
							<h5 class="text-primary">Services offered:</h5>
						

						
						<i class="fa fa-wifi">WIFI &nbsp;</i>
						<i class="fa fa-water">water &nbsp;</i>
						<i class="fa fa-car">parking &nbsp;</i>
						<i class="fa fa-bus">Transport &nbsp;</i>
						<i class="fa fa-unlock">security &nbsp;</i>
						
						
								<i class="fa fa-cost">Price:ksh3000</i>
								<i class="fa fa-wallet">Extra xost: ksh 2000 deposit</i>
						</div>
						</div>
					</div>
				</form>>
				</div>
			</div>
			
				
				

			<div class=""
			<a class="btn btn-outline-primary" id=btnhostelbook type="button" href="#">Book &nbsp;</a
			>
			</button>
		</div>
		</div>
	</div>
</div>

{% endblock main %} 

{% block contact %}
<section class="text-center content-section" id="contact" style="height: 0">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Contact Host</h2>
				<p class="text-light" style="padding: 10px 0">
					For more information on the hostel kindly contact the owner
					using method given below. Remember to keep things
					professional.
				</p>
				<ul class="list-inline banner-social-buttons">
					<li class="list-inline-item">&nbsp;</li>
					<li class="list-inline-item">
						&nbsp;<button
							class="btn btn-primary btn-lg btn-default"
							type="button"
							style="width: 214px"
						>
							<i class="fa fa-whatsapp fa-fw"></i
							><span class="network-name">&nbsp;Whatsapp</span>
						</button>
					</li>
					<li class="list-inline-item">&nbsp;</li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock contact %}
