{% extends 'hostel_base.html' %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ms-auto">
    <li class="nav-item nav-link">
      <a class="nav-link" href="{% url 'hostel-list' %}">Hostels</a>
    </li>

    {% if user.is_authenticated %}


    {% if user.userprofile.role == 'host' %}
    <li class="nav-item nav-link">
      <a class="nav-link" href="{% url 'dashboard' %}">Host Dashboard</a>
    </li>
    

    {% endif %}
    <li class="nav-item nav-link">
      <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    {% else %}

    <li class="nav-item nav-link">
      <a class="nav-link" href="{% url 'login' role='host' %}">Host Login</a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link" href="{% url 'login' role='guest' %}">Guest login</a>
    </li>
    {% endif %}

    <li class="nav-item"></li>
  </ul>
</div>
{% endblock navbar %}
{% block main %}
  <h1>User Profile</h1>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      <label for="id_username">Username:</label>
      {{ form.username }}
    </p>
    <p>
      <label for="id_email">Email:</label>
      {{ form.email }}
    </p>
    <p>
      <label for="id_first_name">First Name:</label>
      {{ form.first_name }}
    </p>
    <p>
      <label for="id_last_name">Last Name:</label>
      {{ form.last_name }}
    </p>
    <p>
      <label for="id_profile_pic">Profile Picture:</label>
      {{ form.profile_pic }}
    </p>
    <p>
      <button type="submit">Save Changes</button>
    </p>
  </form>
{% endblock %}