{% extends 'hostel_base.html' %}

{% block content %}
  <h1>User Profile</h1>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      <label for="id_username">Username:</label>
      {{ form.username }}
    </p>
    <p>
      <label for="id_email">Email:</label>
      {{ form.email }}
    </p>
    <p>
      <label for="id_first_name">First Name:</label>
      {{ form.first_name }}
    </p>
    <p>
      <label for="id_last_name">Last Name:</label>
      {{ form.last_name }}
    </p>
    <p>
      <label for="id_profile_pic">Profile Picture:</label>
      {{ form.profile_pic }}
    </p>
    <p>
      <button type="submit">Save Changes</button>
    </p>
  </form>
{% endblock %}